.header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 2;
}

.header a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.header .title-group {
  padding-left: 32px;
}

.header .title-group i {
  padding-right: 8px;
}